<head>
    <link rel="stylesheet" href="/home.css">
    <title>MySQL Database Example</title>
</head>

<body>
    <div class="container">
        <h1>Fake Users Database (MySQL)</h1>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listAll">Show All users</a></li>
                <li><a href="/listGmail">Show Gmail users</a></li>
                <li><a href="/listYahoo">Show Yahoo users</a></li>
                <li><a href="/listHotmail">Show Hotmail users</a></li>
            </ul>
        </div>
        <h3>Search by filters:</h3>
        <div class="filters">
            <form action="/filterBy" method="GET">
                <label class="filter-label">Name:</label>
                <input type="text" name="nameFilter"/>
                <label class="filter-label">Email:</label>
                <input type="text" name="emailFilter"/>
                <label class="filter-label">City:</label>
                <input type="text" name="cityFilter"/>
                <button class="filter-button">Apply</button>
            </form>
        </div>
    </div>
    <div>
        <form method="GET">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Created at</th>
                </tr>
                <% for (var i = 0; i < usersData.length ; i++) { %>
                    <% let name = usersData[i].name;
                       let email = usersData[i].email;
                       let city = usersData[i].city;
                       let created = usersData[i].created_at; %>
                    <tr>
                        <td><%= name %></td> 
                        <td><%= email %></td> 
                        <td><%= city %></td> 
                        <td><%= created %></td> 
                    </tr>
                <% } %>
            </table>
        </form>
    </div>

</body>