<head>

</head>

<body>
    <div class="flex-container">
    <div class="container">
        <h1>Select a option</h1>
        <a href="/">Home</a>
        <form method="GET" action='/listAll'>
            <button>Show All users</button>
        </form>
        <form method="GET" action='/listGmail'>
            <button>Show Gmail users</button>
        </form>
        <form method="GET" action='/listYahoo'>
            <button>Show Yahoo users</button>
        </form>
        <form method="GET" action='/listHotmail'>
            <button>Show Hotmail users</button>
        </form>
    </div>
</div>
</body>