<head>

</head>

<body>
    <div class="container">
        <h1>Select a option</h1>
        <a href="/">Home</a>
        <form method="GET" action='/listAll'>
            <button>Show All users</button>
        </form>
        <form method="GET" action='/listGmail'>
            <button>Show Gmail users</button>
        </form>
        <form method="GET" action='/listYahoo'>
            <button>Show Yahoo users</button>
        </form>
        <form method="GET" action='/listHotmail'>
            <button>Show Hotmail users</button>
        </form>
        <form method="GET">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Created at</th>
                </tr>
                <% for (var i = 0; i < usersData.length ; i++) { %>
                    <% let name = usersData[i].name;
                       let email = usersData[i].email;
                       let city = usersData[i].city;
                       let created = usersData[i].created_at; %>
                    <tr>
                        <td><%= name %></td> 
                        <td><%= email %></td> 
                        <td><%= city %></td> 
                        <td><%= created %></td> 
                    </tr>
                <% } %>
            </table>
        </form>
    </div>

</body>